.product-body {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.products-area {
  border-right: 1px solid lightgray;
}

.search {
  background-color: #222222;
  height: 50px;
}

.search input {
  width: 75%;
  padding: 7px 5px;
}